<nav class="nav-pills mr-auto">
  <ul class="nav justify-content-end" style="margin-top: 15px">
    <li class="nav-item">
      <b><%= link_to 'Home', root_path, class:"nav-link #{'active' if active(root_path)}" %></b>
    </li>
    <li class="nav-item">
      <b><%= link_to 'Projects', page_path('projects'), class:"nav-link #{'active' if active(page_path('projects'))}" %></b>
    </li>
    <li class="nav-item">
      <b><%= link_to 'Contact', page_path('contact'), class:"nav-link #{'active' if active(page_path('contact'))}" %></b>
    </li>
    <li class="nav-item">
      <b><%= link_to 'Resume', '#', class:"nav-link" %></b>
    </li>
  </ul>
</nav>
