<div class="row">
  <div class="col"></div>
  <div class="col-10">
    <h1 align="center">Michael Zhang</h1>
    <hr>
    <div class="row">
      <div class="col-6" align="center">
        <%= image_tag 'zhang.jpg', size: '360x360', class: "img-shade" %>
      </div>
      <div class="col-6">
        <p>
          I am an undergraduate student at Duke University's Pratt School of Engineering, class of 2020.  My major is Electrical & Computer Engineering with a concentration in Signal Processing, Communications, and Control Systems.
        </p>

        <p>
          I enjoy travelling, music--playing, listening and appreciating, table tennis, coding, and eating. I was born in Beijing, China but moved to Invercargill, New Zealand with my mother when I was ten. After graduating high school, I attended the University of Auckland for a brief few weeks before dropping out to accept the Robertson Scholarship at Duke University in Durham, NC.
        </p>

        <p>
          Music is a huge part of my life. I took classical piano lessons for seven years until I discovered my passion for jazz and improvisation. I enjoy artists who push the industry to create their own voice, my favourites right now include Robert Glasper, Roy Hargrove, Stevie Wonder, Moonchild, and Tom Misch. I work with Max/MSP, Logic Pro X, and Ableton to explore the intersections of music and technology.
        </p>

      </div>
    </div>


  </div>
  <div class="col"></div>
</div>

