<div class="row">
  <div class="col"></div>
  <div class="col-8">
    <h1 align="center">Michael Zhang</h1>
    <hr>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col" align="center">
    <%= image_tag 'msp.jpg', size: '480x320', class: "img-shade" %>
  </div>
  <div class="col" align="center">
    <%= image_tag 'code.jpg', size: '480x320', class: "img-shade" %>
  </div>
</div>
