<div class="container top-buffer">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Duke University Integrated Design Challenge</h1>
      <p class="lead">Our task was to design a robot that follows a straight line, stops at each hash mark, and senses the color of the block. Once all these detections are made, we needed to communicate with another robot, make the right calculations, then communicate with the rest of the team to display the overall score.</p>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'bot.png', size: '500x600', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'bot/1.png', size: '840x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'bot/2.png', size: '840x640', class: "img-shade" %>
    </div>
  </div>



</div>
