<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-8" align="center">
      <h1 align="center">Get in touch with me</h1>
      <hr>
      <!-- <i class="fa fa-chevron-down"></i> -->
      <div class="row">
        <div class="col"></div>
        <div class="col-12 content" align="center">
          <a href="mailto:michaelzhang6284@gmail.com" class="fa fa-envelope fa-btn"></a>
          <a href="https://www.facebook.com/zh4ngster" class="fa fa-facebook fa-btn" target="_blank"></a>
          <a href="https://www.linkedin.com/in/michael-zhang-5a4479119/" class="fa fa-linkedin fa-btn" target="_blank"></a>
          <a href="https://www.instagram.com/zh4ngster/" class="fa fa-instagram fa-btn" target="_blank"></a>
          <a href="https://soundcloud.com/michael-zhang-353901065" class="fa fa-soundcloud fa-btn" target="_blank"></a>
          <a href="https://github.com/michaelzhang114/" class="fa fa-github fa-btn"></a>
          <p align="center" style="margin-top: 35px">Feel free to send me an email or follow my social media accounts.</p>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>


