<div class="container top-buffer">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Generative Music Project using Max/MSP</h1>
      <p class="lead">Using generative techniques, this program creates new music based on a set of inputs. I applied interdependent stochastic processes that generates the background and melody.</p>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'msp.jpg', size: '960x640', class: "img-shade" %>
    </div>
  </div>

</div>
