<div class="row">
  <div class="col"></div>
  <div class="col-10">
    <h1 align="center">Selected Press</h1>
    <hr>

    <div class="">
      <strong>
        <a href="https://www.stuff.co.nz/national/education/78157949/james-hargest-leaver-michael-zhang-earns-scholarship-to-duke-university-in-us">James Hargest College leaver Michael Zhang earns scholarship to Duke University</a>
      </strong>
      <p>Mar 23, 2016 | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href="https://www.stuff.co.nz/southland-times/75573790/academy-southland-eleven-years-molding-athletes-and-coaches">Academy Southland: Eleven years molding athletes and coaches</a>
      </strong>
      <p>Jan 3, 2016 | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href="https://www.stuff.co.nz/southland-times/sport/68519457/top-talent-for-southland-table-tennis-open">Top talent for Southland table tennis open</a>
      </strong>
      <p>May 13, 2015 | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href="http://www.stuff.co.nz/southland-times/sport/7333558/Zhang-secures-a-national-title">Zhang secures a national title</a>
      </strong>
      <p>Jul 24, 2012 | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href="http://www.stuff.co.nz/southland-times/sport/10258592/Youngster-put-Southland-table-tennis-back-on-map">Youngster put Southland table tennis back on map</a>
      </strong>
      <p>Jul 12, 2014 | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href="http://www.stuff.co.nz/southland-times/sport/9094271/City-teen-all-class-in-retaining-singles-title">City teen all class in retaining singles title</a>
      </strong>
      <p>Aug 28, 2013 | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href="http://www.stuff.co.nz/southland-times/culture/10650660/Young-jazz-bands-seek-winning-sound">Young jazz bands seek winning sound</a>
      </strong>
      <p>Oct 23, 2014 | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href="http://www.stuff.co.nz/southland-times/sport/9145260/Southland-scores-interprovincial-win">Southland scores interprovincial win</a>
      </strong>
      <p>Sep 10, 2013 | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href="http://www.stuff.co.nz/southland-times/sport/4102073/Zhang-off-to-Oz-champs">Zhang off to Oz champs</a>
      </strong>
      <p>Sep 14, 2010 | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href="http://www.stuff.co.nz/southland-times/sport/5233531/Teen-keeps-netting-table-tennis-titles">Teen keeps netting table tennis titles</a>
      </strong>
      <p>Jul 5, 2011 | stuff.co.nz</p>
    </div>


    <!-- <div class="">
      <strong>
        <a href=""></a>
      </strong>
      <p> | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href=""></a>
      </strong>
      <p> | stuff.co.nz</p>
    </div>
    <div class="">
      <strong>
        <a href=""></a>
      </strong>
      <p> | stuff.co.nz</p>
    </div> -->


  </div>
  <div class="col"></div>
</div>
