<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <h1 align="center">My projects</h1>
      <hr>
      <%= link_to 'gtive', page_path('gtive')%>
    </div>
    <div class="col"></div>
  </div>
</div>
